body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #121212;
}
.navbar {
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .menu {
    display: flex;
    align-items: center;
}
.navbar a {
    color: #121212;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}
.navbar a:hover,
.navbar a.active {
    color: #4CAF50;
}
.navbar h3 {
    color: #4CAF50;
    margin-right: 25px;
    margin-left: 15px;
}
.navbar .toggle-container {
    display: flex;
    align-items: center;
}
.toggle-btn {
    width: 60px;
    height: 30px;
    background-color: #ccc;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.1s ease;
    margin-right: 10px;
}
.toggle-btn::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.1s ease;
}
.toggle-btn.dark-mode {
    background-color: #4CAF50;
}
.toggle-btn.dark-mode::before {
    transform: translateX(30px);
}
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;

}
.section {
    margin-bottom: 20px;
}
.dark-mode-body {
    background-color: #121212;
    color: white;
}
.dark-mode-navbar {
    background-color: #121212;
    box-shadow: none;
}
.dark-mode-navbar a {
    color: white;
}
#modeText {
    margin-right: 15px;
    font-size: 16px;
}