.container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.sub-container {
    width: 60%;
    display: flex;
}
.my-image {
    width: 250px;
    border-radius: 50px;
}

.right-subcontainer{
    padding-left: 10px;
    text-align: justify;
}