.div-pertama {
    background-color: lightcoral;
}

.div-kedua {
    background-color: lightblue;
}

.div-ketiga {
    background-color: lightgreen;
    display: flex;
    justify-content: center;
}

.div-ketiga-1 {
    background-color: orange;
}

.div-ketiga-2 {
    background-color: lightpink;
}